<section class="section our-clients container full-page">

    <div class="line line--section line--lightblue" id="our-clients"></div>

    <header class="section__header">

        <h2 class="section__title">
            Our Clients
        </h2>

        <p class="section__subtitle">
            Testimonials
        </p>
        
    </header>

    <div class="section__content">

        <div class="our-clients__content">

            {% for item in site.data.our-clients.items %}
                
                <div class="our-clients__item" id="{{ item.name | slugify }}-client">

                    <img class="our-clients__item-img" src="{{ '/assets/img/clients/' | append: item.image | relative_url }}" alt="{{ item.name }} logo" title="{{ item.name }}">
    
                </div>

            {% endfor %}

        </div>

        <div class="our-clients__feedback">

            <div class="our-clients__feedback-item-quote">„</div>

            <h3 class="our-clients__feedback-item-title">
                Hybrid Software & Electronics Co
            </h3>

            <p class="our-clients__feedback-item-text">
                We are very pleased to work with Justics Labs.<br>
                Very professional and experienced team. Thank you!
            </p>

        </div>

    </div>

    <a href="#hire-us" class="go-to-next go-to-next--section">
        {% include svg/icon.html id='scroll-down-icon' %}
    </a>

</section>