.banner {
    background-image: url(/assets/img/site/banner-bg.png);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__container {

        outline: 1px solid #cbcbcb;
        width: $page_width;
        max-width: $max-width;
        margin: 0 auto;
        padding: 40px 0;

    }

    &__slogan {
        width: 40%;
        font-size: 25px;
        color: #fff;
        line-height: 1.5em;
    }

    &__socials-wrapper {
        position: absolute;
        bottom: $banner_bottom;
        width: 100%;
    }

    &__socials {
        width: $page_width;
        max-width: $max-width;
        margin: 0 auto;
        
        @include clearfix;
    }

    &__social-icons {
        float: right;
    }

}