.banner {
    background-color: #494949;
    background-image: url(/assets/images/site/banner-bg.png);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__container {
        padding: 40px 0;
    }

    &__slogan {
        width: 40%;
        font-size: 25px;
        color: #fff;
        line-height: 1.5;

        @include breakpoint(medium) {
            width: 75%;
        }

    }

    &__socials-wrapper {
        position: absolute;
        bottom: $banner_bottom;
        width: 100%;

        @include breakpoint(medium) {
            width: 50px;
            right: 5vw;
            bottom: 2vh;
        }

        @include breakpoint(small) {
            display: none;
        }

    }

    &__socials {
        width: $page_width;
        max-width: $max-width;
        margin: 0 auto;
        
        @include clearfix;

        @include breakpoint(large) {
            width: 90%;
        }

    }

    &__social-icons {
        float: right;
    }

}