.line {
    width: 124px;
    height: 10px;

    &--banner {
        margin: 50px 0;
    }

    &--white {
        background-color: #fff;
    }
    &--lightblue {
        background-color: $lightblue;
    }

}

.go-to-next {

    color: #fff;
    position: absolute;
    bottom: $banner_bottom;
    left: 50%;
    transform: translateX(-50%);
    width: 46px;
    height: 46px;
    z-index: 99;
    transition: stroke .2s linear;
    &:hover {
        .scroll-down-icon {
            stroke: $lightblue;
        }
    }

    @include breakpoint(medium) {
        bottom: 2vh;
    }

    &--section {
        bottom: 1vh;
    }

    &--hover-darkblue {
        &:hover {
            .scroll-down-icon {
                stroke: $darkblue;
            }
        } 
    }

}

.nav-wrapper {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 40vw;
    background-color: $lightblue;
    z-index: 1;

    @include breakpoint(medium) {
        width: 55vw;
    }

    @include breakpoint(small) {
        width: 100%;
    }

}