.line {
    width: 124px;
    height: 10px;

    &--banner {
        margin: 40px 0;
    }

    &--white {
        background-color: #fff;
    }
    &--lightblue {
        background-color: $lightblue;
    }

}

.go-to-next {

    color: #fff;
    position: absolute;
    bottom: $banner_bottom;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 46px;
    height: 46px;
    z-index: 99;
    -webkit-transition: stroke .2s linear;
    transition: stroke .2s linear;
    &:hover {
        .scroll-down-icon {
            stroke: $lightblue;
        }
    }

    @include breakpoint(medium) {
        bottom: 2vh;
    }

    &--section {
        bottom: 0;
        @include breakpoint(medium) {
            display: none;
        }
    }

    &--hover-darkblue {
        &:hover {
            .scroll-down-icon {
                stroke: $darkblue;
            }
        } 
    }

}

.nav-wrapper {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 520px;
    width: 40vw;
    background-color: $lightblue;
    z-index: 1;

    @include breakpoint(medium) {
        width: 55vw;
    }

    @media (max-width: 500px) {
        width: 100%;
    }

}

.nav-arrow {
    font-family: sans-serif;
    font-weight: bold;
}

.return-back {
    color: $lightgray;
    text-decoration: underline;
    &:hover {
        color: $darkgray;
    }
    &__arrow {
        font-family: sans-serif;
        font-weight: bold;
    }
}

a.anchorjs-link {
    color: $darkblue !important;
    position: static !important;
    margin: 0 !important;
    &:hover {
        &:after {
            color: $lightblue;
        }
    }
}

.lSPager {
    display: none !important;
}

.disqus_thread {
    margin-top: 4vw;
}

button {
    &:hover {
        cursor: pointer;
    }
}