img {
    max-width: 100%;
}

.line {
    width: 124px;
    height: 10px;

    &--banner {
        margin: 50px 0;
    }

    &--white {
        background-color: #fff;
    }
    &--lightblue {
        background-color: $lightblue;
    }

}

.go-to-next {
    color: #fff;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}
