.scroll-down-icon {
    
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    transition: stroke .2s linear;

}

.social-icon {

    fill: #fff;
    transition: fill .2s linear;
    &:hover {
        fill: $lightblue;
    }

    &--banner {
        margin-left: 42px;
    }

    &--banner-upwork {
        position: relative;
        bottom: -10px;
    }

}