.scroll-down-icon {
    
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    transition: stroke .2s linear;

}

.open-menu-icon {
    width: 45px;
    height: 35px;
}

.scroll-down-icon {
    width: 46px;
    height: 46px;
}

.twitter-icon {
    width: 34px;
    height: 32px;
}

.linkedin-icon {
    width: 33px;
    height: 33px;
}

.facebook-icon {
    width: 18px;
    height: 34px;
}

.upwork-icon {
    width: 47px;
    height: 32px;
}

.social-icon {

    fill: #fff;
    transition: fill .2s linear;
    &:hover {
        fill: $lightblue;
    }

    &--banner {
        margin-left: 42px;

        @include breakpoint(large) {
            margin-left: 24px; 
        }

        @include breakpoint(medium) {
            display: block;
            text-align: center;
            margin: 16px 0 0 0;
        }

    }

    &--banner-upwork {
        position: relative;
        bottom: -10px;
    }

}

.what-we-do__icon {
    fill: none;
    stroke: #000;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.how-we-work__icon {
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}