.site-nav {

    display: inline-block;

    &__icon {
        fill: #fff;
        cursor: pointer;

        transition: fill .2s linear;

        &:hover {            
            fill: $lightblue;            
        }
    }

}