.site-nav {

    display: inline-block;

    &__icon {
        fill: #fff;
        width: 45px;
        height: 35px;
        cursor: pointer;
        &:hover {            
            fill: $lightblue;            
        }
    }

}