.site-nav {

    position: relative;

    &--page {
        z-index: 3;
    }

    &__items-wrapper {
        display: none;
        text-align: center;
        padding-top: 90px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;

        &--page {
            z-index: 2 ;
            @include breakpoint(small) {
                text-align: left;
            }
        }

    }

    &__items {
        display: inline-block;
        text-align: left;
        &--page {
            @include breakpoint(small) {
                padding-left: 16px;
            }
        }
    }

    &__item {
        color: #fff;
        display: block;
        padding: 16px 0;
        margin-bottom: 16px;
        font-size: 18px;
        -webkit-transition: color .2s linear;
        transition: color .2s linear;
        &:hover {
            color: $darkblue;
        }
    }

}