.page {

    &__header {
        margin: 45px 0 60px;
    }

    &__title {

        font-size: 35px;
        font-family: 'Gotham Pro Bold', sans-serif;
        color: $darkblue;

        @include breakpoint(medium) {
            margin: 5vw 0 25px;
            font-size: 30px;
        }

    }

    &__subtitle {
        line-height: 1.5;
        color: $lightgray;
        font-size: 25px;
    }

}