.section {

    padding-top: 80px;

    &__header {
        margin: 47px 0 80px 0;
        @include breakpoint(medium) {
            margin-bottom: 50px;
        }
    }

    &__title {
        font-family: 'Gotham Pro', sans-serif;
        margin: 0 0 35px 0;
        color: $darkblue;
        font-size: 50px;
    }

    &__subtitle {
        color: $lightgray;
        font-size: 25px;
    }

    &__content {
        width: 95%;
        margin-right: auto;
        margin-left: auto;

        &--our-clients {
            width: 100%;
            margin: 0;
            padding-bottom: 60px;            
        }

    }

}

.what-we-do {

    &__content {
        margin-bottom: 20px;
        padding-bottom: 60px;;
    }

    &__icons {
        text-align: center;
    }

    &__icon {
        display: inline-block;
        width: 33%;
        text-align: center;
        margin-bottom: 80px;
        padding: 0 12px;

        @include breakpoint(large) {
            margin-bottom: 55px;
        }
        @include breakpoint(medium) {
            width: 50%;
            margin-bottom: 50px;
        }
        @include breakpoint(small) {
            width: 70%;
            margin-bottom: 40px;
        }

    }

    &__icon-svg {
        height: 150px;
    }

    &__desc {
        font-size: 20px;
        color: $darkgray;
        line-height: 1.8;
        padding: 0 12px;
    }

}

.how-we-work {

    padding-bottom: 60px;

    &__content {
        overflow: hidden;
        border: 2px solid $lightergray;
        border-radius: 12px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        @include clearfix;

        @include breakpoint(large) {
            width: 95%;
        }

        @include breakpoint(medium) {
            width: 100%;
        }
    }

    &__item {
        padding-top: 50px;
        padding-left: 12px;
        prefix: 12px;
        float: left;
        width: 50%;
        text-align: center;
        margin-bottom: -9999px;
        padding-bottom: 9999px;
        &:hover {
            background-color: $lightergray;
        }
        @include breakpoint(medium) {
            display: block;
            width: 100%;
            margin-bottom: 0;
            padding-bottom: 12px;;
        }
    }

    &__info {
        display: inline-block;
        text-align: left;
    }

    &__item-title {
        font-family: 'Gotham Pro', sans-serif;
        font-size: 30px;
        color: $darkblue;
        margin: 40px 0;
    }

    &__item-desc {
        font-size: 20px;
        color: $darkblue;
        line-height: 1.8;
        padding-bottom: 60px;
    }

    &__btn {
        margin: 60px 0 20px 0;
    }

}

.our-clients {

    &__item {
        
        &--active {
            display: inherit;
        }
    }

    &__feedback {
        width: 90%;
    }

    &__feedback-item {
        border: 2px solid $lightergray;
        padding: 80px 5% 80px 15%;
        display: none;
        
        &--active {
            display: block;
        }
    }

    &__feedback-item-title {
        font-family: 'Gotham Pro', sans-serif;
        color: $darkblue;
        font-size: 30px;
    }

    &__feedback-item-text {
        color: $darkergray;
        font-size: 20px;
        line-height: 1.8;
        position: relative;
    }

    &__feedback-item-quote {
        position: absolute;
        top: 0;
        left: -70px;
        left: calc(-55px - 3vw);

        @include breakpoint(medium) {
            position: static;
        }

    }

}