.section {
    padding-top: 80px;

    &__title {
        font-family: 'Gotham Pro', sans-serif;
        margin: 47px 0 35px 0;
        color: $darkblue;
        font-size: 50px;
    }

    &__subtitle {
        color: $lightgray;
        font-size: 25px;
    }

}