@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/GothamPro-regular.woff") format("woff"),
        url("fonts/GothamPro-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/GothamPro-Bold.woff") format("woff"),
        url("fonts/GothamPro-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Playfair Display";
    src: url("fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

$max_width: 1130px;
$page_width: 78.47222222%;

$banner_bottom: 5vh;

$darkblue: #272a47;
$lightblue: #47b2f4;
$black: #2a2a2a;

@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}