<script src="{{ '/assets/js/slick.js' | relative_url }}"></script>

<script>
    $(document).ready(function(){
        $('.our-clients__content').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            arrows: false,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2
                    }
                }
            ]
        });
    });
</script>